<div>
	<h1>Contact us</h1>
	

<div class="p+">
    <div class="card">
        <div class="p+">
            <strong class="fs-headline display-block">Lorem Ipsum</strong>
            <span class="fs-subhead tc-black-2 display-block">Lorem Ipsum</span>
 
            <div class="paragraph fs-body-1 mt+">
                <p>
                    Get technical support or help with your service. Please contact:
                </p>
            </div>
        </div>
 
        <div class="card__actions">
            <lx-button lx-color="black" lx-type="flat">Yes</lx-button>
            <lx-button lx-color="orange" lx-type="flat">No</lx-button>
        </div>
    </div>
</div>



<div class="p+">
    <lx-switch ng-model="contact.switches.basic.checked">Switch</lx-switch>
 
    <lx-switch ng-model="contact.switches.basic.unchecked" class="mt+">
        <lx-switch-label>Switch with help</lx-switch-label>
        <lx-switch-help>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.</lx-switch-help>
    </lx-switch>
</div>



<div class="p+">
    <lx-button lx-type="raised" ng-click="returnToMain(this)">Return to Main Page</lx-button>
</div>

</div>