<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="p+">
    <div class="card">
      <div class="card__img card__img--top">
        <img src="/assets/images/test-image1.jpg">
        <span class="fs-headline tc-white-1 display-block">Save Time</span>
      </div>

      <div class="p+">
        <span class="fs-subhead tc-black-2 display-block">Lorem Ipsum</span>

        <div class="paragraph fs-body-1">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue nibh, imperdiet vitae mattis sit amet, iaculis ut orci. Phasellus sit amet fringilla dolor. In scelerisque dapibus convallis. Sed quis pharetra ligula. Proin fringilla lorem at vehicula finibus. Cras rutrum purus vel maximus efficitur. Sed consequat at lorem non dictum. In egestas aliquam neque, quis feugiat nisl venenatis at. Donec orci nisl, vestibulum quis cursus et, mollis a ipsum.
          </p>
        </div>
      </div>

      <div class="p+">
        {{ main.datePicker.basic.dateFormatted }}
 
     <div class="mt">
        <lx-button ng-click="main.openDatePicker(main.datePickerId)">Open date picker</lx-button>
    </div>
 
    <lx-date-picker id="{{ main.datePickerId }}"
                    ng-model="main.datePicker.basic.date"
                    lx-callback="main.datePickerCallback(newDate)"
                    lx-locale="{{ main.locale }}"
                    lx-max-date="main.datePicker.basic.maxDate"
                    lx-min-date="main.datePicker.basic.minDate"></lx-date-picker>
    </div>

      <div class="card__actions">
        <lx-button lx-color="black" lx-type="flat">Share</lx-button>
        <lx-button lx-color="orange" lx-type="flat">Learn more</lx-button>
      </div>
    </div>
  </div>

</div>
