<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>


  <div class="data-table-container">
    <header class="data-table-header">
      <div class="data-table-header__label">
        <span class="fs-title">Lorem Ipsum</span>
      </div>

      <div class="data-table-header__actions">
        <lx-button lx-size="l" lx-color="black" lx-type="icon">
          <i class="mdi mdi-filter-variant"></i>
        </lx-button>

        <lx-dropdown lx-position="right" lx-over-toggle="true">
          <lx-dropdown-toggle>
            <lx-button lx-size="l" lx-color="black" lx-type="icon">
              <i class="mdi mdi-dots-vertical"></i>
            </lx-button>
            <lx-dropdown-toggle>

              <lx-dropdown-menu>
                <ul>
                  <li><a class="dropdown-link">Henrry es el mejor del mundo</a></li>
                  <li><a class="dropdown-link">Brenda  es la mejor del mundo</a></li>
                  <li><a class="dropdown-link">Another action</a></li>
                  <li><a class="dropdown-link">Something else here</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
                  <li><a class="dropdown-link">Separated link</a></li>
                </ul>
              </lx-dropdown-menu>
        </lx-dropdown>
      </div>
    </header>

    <table class="data-table">
      <thead>
      <tr class="data-table__selectable-row">
        <th></th>
        <th ><lx-icon lx-id="account" lx-size="l"></lx-icon>NOMBRE COMPLETO</th>

        <th><lx-icon lx-id="account-convert" lx-size="l"></lx-icon>ESTADO</th>
        <th class="data-table__sortable-cell data-table__sortable-cell--desc">DISPONIBILIDAD</th>
        <th><lx-icon lx-id="account-card-details" lx-size="l"></lx-icon>CARGO</th>
        <th><lx-icon lx-id="bike" lx-size="l"></lx-icon>TAREA</th>
        <th>
          <i class="mdi mdi-comment-text"></i>
          <span>DUDAS/PREGUNTAS</span>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr class="data-table__selectable-row data-table__selectable-row--is-selected">
        <td></td>
        <td>HENRRY</td>
        <td>1</td>
        <td>100%</td>
        <td>MANAGER</td>
        <td>TODAS</td>
        <td>NINGUNA</td>

      </tr>

      <tr class="data-table__selectable-row">
        <td></td>
        <td>BRENDA</td>

        <td>1</td>
        <td>100%</td>
        <td>BACKEND</td>
        <td>VISTAS</td>
        <td>Lorem ipsum</td>
      </tr>
      </tbody>
    </table>
  </div>








<div class="p+" flex-container="row" flex-gutter="24">
    <div flex-item>
        <lx-text-field lx-label="Nombre" lx-fixed-label="true">
            <input type="text" ng-model="vm.textFields.fixed.name">
        </lx-text-field>

        <lx-text-field lx-label="Telefono" lx-fixed-label="true">
            <input type="text" ng-model="vm.textFields.fixed.phone">
        </lx-text-field>

        <lx-text-field lx-label="Email" lx-fixed-label="true">
            <input type="email" ng-model="vm.textFields.fixed.email">
        </lx-text-field>

        <lx-text-field lx-label="Ciudad" lx-fixed-label="true">
            <input type="text" ng-model="vm.textFields.fixed.location">
        </lx-text-field>
    </div>

    <div flex-item>
        <lx-text-field lx-label="Nombre" lx-fixed-label="true" lx-icon="account">
            <input type="text" ng-model="vm.textFields.fixed.emptyName">
        </lx-text-field>

        <lx-text-field lx-label="Teléfono" lx-fixed-label="true" lx-icon="phone">
            <input type="text" ng-model="vm.textFields.fixed.emptyPhone">
        </lx-text-field>

        <lx-text-field lx-label="Email" lx-fixed-label="true" lx-icon="email">
            <input type="email" ng-model="vm.textFields.fixed.emptyEmail">
        </lx-text-field>

        <lx-text-field lx-label="Ciudad" lx-fixed-label="true" lx-icon="city">
            <input type="text" ng-model="vm.textFields.fixed.emptyLocation">
        </lx-text-field>
    </div>
</div>























  <div class="p+">
    <div class="card">
      <div class="card__img card__img--top">
        <img src="/assets/images/test-image1.jpg">
        <span class="fs-headline tc-white-1 display-block">Save Time</span>
      </div>

      <div class="p+">
        <span class="fs-subhead tc-black-2 display-block"> Que es SaveTime? </span>

        <div class="paragraph fs-body-1">
          <p>
            SaveTime te permite planificar reuniones de manera organizada, crear diferentes tipos de eventos ipsum dolor sit amet, consectetur adipiscing elit. Sed augue nibh, imperdiet vitae mattis sit amet, iaculis ut orci. Phasellus sit amet fringilla dolor. In scelerisque dapibus convallis. Sed quis pharetra ligula. Proin fringilla lorem at vehicula finibus. Cras rutrum purus vel maximus efficitur. Sed consequat at lorem non dictum. In egestas aliquam neque, quis feugiat nisl venenatis at. Donec orci nisl, vestibulum quis cursus et, mollis a ipsum.
          </p>
        </div>
      </div>

      <div class="card__actions">
        <lx-button lx-color="black" lx-type="flat">Share</lx-button>
        <lx-button lx-color="orange" lx-type="flat">Learn more</lx-button>
      </div>
    </div>
  </div>

  <div class="p+">
    <!-- Left direction -->
    <lx-fab lx-direction="left">
      <lx-fab-trigger>
        <lx-button lx-size="xl" lx-type="fab" lx-tooltip="Add" lx-tooltip-position="top">
          <i class="mdi mdi-android"></i>
          <i class="mdi mdi-plus"></i>
        </lx-button>
      </lx-fab-trigger>

      <lx-fab-actions>
        <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Hola" lx-tooltip-position="top" ng-click="main.sayHello()">
          <i class="mdi mdi-delete"></i>
        </lx-button>

        <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Archive" lx-tooltip-position="top">
          <i class="mdi mdi-package"></i>
        </lx-button>

        <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Edit" lx-tooltip-position="top">
          <i class="mdi mdi-pencil"></i>
        </lx-button>
      </lx-fab-actions>
    </lx-fab>

    <!-- Up direction -->
    <lx-fab lx-direction="up">
      <lx-fab-trigger>
        <lx-button lx-size="xl" lx-type="fab" lx-tooltip="Add" lx-tooltip-position="left">
          <i class="mdi mdi-android"></i>
          <i class="mdi mdi-plus"></i>
        </lx-button>
      </lx-fab-trigger>

      <lx-fab-actions>
        <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Delete" lx-tooltip-position="left">
          <i class="mdi mdi-delete"></i>
        </lx-button>

        <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Archive" lx-tooltip-position="left">
          <i class="mdi mdi-package"></i>
        </lx-button>

        <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Edit" lx-tooltip-position="left">
          <i class="mdi mdi-pencil"></i>
        </lx-button>
      </lx-fab-actions>
    </lx-fab>

    <!-- Down direction -->
    <lx-fab lx-direction="down">
      <lx-fab-trigger>
        <lx-button lx-size="xl" lx-type="fab" lx-tooltip="Add" lx-tooltip-position="right">
          <i class="mdi mdi-android"></i>
          <i class="mdi mdi-plus"></i>
        </lx-button>
      </lx-fab-trigger>

      <lx-fab-actions>
        <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Delete" lx-tooltip-position="right">
          <i class="mdi mdi-delete"></i>
        </lx-button>

        <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Archive" lx-tooltip-position="right">
          <i class="mdi mdi-package"></i>
        </lx-button>

        <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Edit" lx-tooltip-position="right">
          <i class="mdi mdi-pencil"></i>
        </lx-button>
      </lx-fab-actions>
    </lx-fab>

    <!-- Right direction -->
    <lx-fab lx-direction="right">
      <lx-fab-trigger>
        <lx-button lx-size="xl" lx-type="fab" lx-tooltip="Add" lx-tooltip-position="bottom">
          <i class="mdi mdi-android"></i>
          <i class="mdi mdi-plus"></i>
        </lx-button>
      </lx-fab-trigger>

      <lx-fab-actions>
        <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Delete" lx-tooltip-position="bottom">
          <i class="mdi mdi-delete"></i>
        </lx-button>

        <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Chau" lx-tooltip-position="bottom" ng-click="main.sayBye()">
          <i class="mdi mdi-package"></i>
        </lx-button>

        <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Hola" lx-tooltip-position="bottom" ng-click="main.sayHello()">
          <i class="mdi mdi-pencil"></i>
        </lx-button>
      </lx-fab-actions>
    </lx-fab>
  </div>

</div>
